.search_sort_container {
  height: 70vh;
  width: 28vw;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_sort_title {
  display: flex;
  align-items: center;
}
.input_rounded .MuiOutlinedInput-root {
  border-radius: 30px;
}
.search_box {
  border-radius: 30px;
}
.filter_select .MuiSelect-select.MuiSelect-select {
  background-color: white;
}
.filter_select {
  background-color: white;
  width: 45%;
}
.radiogroup .MuiRadio-colorSecondary.Mui-checked {
  color: #008288;
}
.radiogroup {
  margin-top: 5px;
}
.dashboard_slider .MuiSlider-rail {
  height: 7px;
}
.dashboard_slider .MuiSlider-track {
  height: 7px;
}
.dashboard_slider .MuiSlider-mark {
  height: 7px;
}

.dashboard_slider .MuiSlider-thumb {
  width: 17px;
  height: 17px;
}

.dashboard_slider .MuiSlider-valueLabel {
  left: calc(-50% - -1px);
}

.dashboard_slider {
  margin-top: 5px;
}
