.main_container {
  background-image: url("../../assets/svg/left.svg");
  background-size: cover;
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  margin-top: 30px !important;
}

.input_container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200vw;
  max-width: 45vw;
  margin-top: 60px;
}

.button {
  margin-top: 80px !important;
  border-radius: 15px !important;
  width: 170px;
  height: 45px;
}
.signin_button {
  border-radius: 15px !important;
  width: 170px;
  height: 45px;
}
.bottom_container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  align-items: center;
}
#login_link {
  height: 25px;
  cursor: pointer;
}
#login_label {
  color: white;
  margin-right: 30px;
}

#logo {
  display: "flex";
  flex: 1;
  position: absolute;
  left: 35px;
  top: 25px;
}

#logo_login {
  width: 350px;
  margin-left: 150px;
}
#svg {
  width: 110px;
}
