.qcm_qeustion .MuiOutlinedInput-root {
  width: 549px;
  border-radius: 20px;
}
.qcm_answers .MuiOutlinedInput-root {
  border-radius: 20px;
}
.modal_header {
  width: 600px;
  height: 84px;
  background-color: #008288;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal_title {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-left: 15px;
}
#modal_button {
  width: 165px;
  height: 40px;
  text-transform: capitalize;
  margin-bottom: 50px;
  background-color: #008288;
  color: white;
  border-radius: 14px;
  font-weight: bold;
}
#edit_button {
  width: 165px;
  height: 40px;
  text-transform: capitalize;
  margin-bottom: 50px;
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  border-radius: 14px;
}
