.search_container {
  margin-right: 53px;
  margin-top: 21px;
}
.tests_main_container {
  margin-top: 10;
}
.track-vertical {
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 30px;
  background: #e8e8e8;
}
.track-vertical .thumb-vertical {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
  background-color: #008288;
}
.MuiDrawer-paperAnchorRight {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
