.toggle_bar {
  height: 10vh;
  width: 50vw;
  background-image: linear-gradient(#151515, #008288);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle_bar_container {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}

#buttonPrices {
  margin-top: 80px !important;
  border-radius: 15px !important;
  width: 230px;
  height: 45px;
  font-size: 16px;
  text-transform: none;
  background-color: #9aa7a8;
  color: white;
}

.price_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.price_seperator {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
#price_seperator_line {
  height: 1px;
  margin-top: 15px;
  width: 65vw;
  background-color: #008288;
}
.price_sponsors {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
